* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: rgba(111, 111, 222, 0.10);
}
